{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    <form action="{% url 'save_edit' %}" method="POST">
        {% csrf_token %}
        <label for="title">Title: </label>
        <input type="text" name="title" placeholder="Enter a title" value="{{title}}">
        <br/>
        <label>Markdown Content: </label>
        </br/>
        <textarea name="content" rows="2" cols="20">{{ content }}</textarea>
        </br/>
        <input type="submit" value="Edit" class="btn btn-primary">
    </form>
{% endblock %}