{% extends "encyclopedia/layout.html" %}

{% block body %}

    <h2>Login</h2>
    <hr style="background-color: black; height: 5px;">

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-danger" type="submit" value="Login">
    </form>

    <div style="margin: 5px;">Don't have an account? <a style="color: #cc0000;" href="{% url 'register' %}">Register here.</a></div>

{% endblock %}